/* Comments*/

.lesson {
  color: rgb(0,10,50);
  background: rgb(190,195,200);
  border-radius: 0px;
  padding: 35px;
}
.lesson_content{
  color: rgb(0,10,50);
  background: rgb(190,210,210);
  border-radius: 5px;
  padding: 20px;
}
.summary{
  color: rgb(0,10,50);
  background: rgb(80,160,170);
  border-radius: 5px;
  padding: 5px;
}